body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
